:root {
    --primary-bg-color: #1565c0; 
    --primary-text-color: white;
    --secondary-text-color: #333;
    --accent-color: #ff4b4b; 
    --font-family: 'Roboto', sans-serif;
    --header-font-family: 'Montserrat', sans-serif; 
    --header-padding: 20px;
    --border-radius: 10px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: var(--header-padding);
    background-color: var(--accent-color);
    color: white;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    flex: 1; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "data hero weather"
        "data hero weather";
    gap: 20px;
    padding: 20px;
    align-items: start;
}

#data, #weather {
    background-color: white;
    color: var(--secondary-text-color);
    padding: 30px; 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#weather-icon {
    width: 50px;
    height: auto;
}

.weather-title {
    position: relative; 
    display: inline-flex;
    align-items: center;
}

.weather-title::after {
    content: ''; 
    display: inline-block; 
    width: 8px; 
}


#hero {
    grid-area: hero;
    display: flex;
    justify-content: center;
}

#hero img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    object-fit: cover; 
}

footer {
    background: linear-gradient(135deg, var(--primary-bg-color), #0d47a1); 
    color: var(--primary-text-color);
    text-align: center;
    padding: var(--header-padding);
    border-top: 10px solid var(--accent-color); 
    margin-top: auto; 
}

footer p {
    margin: 5px 0;
}

button, a, img, #data, #weather {
    transition: all 0.5s ease; 
}

button:hover, a:hover, img:hover, #data:hover, #weather:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hero"
            "data"
            "weather";
    }

    #hero {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem; 
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}
