:root {
    --primary-bg-color: #1565c0; /* Azul bandera de Chile (ajustado) */
    --primary-text-color: white;
    --secondary-text-color: #333;
    --accent-color: #ff4b4b; /* Rojo bandera de Chile */
    --font-family: 'Roboto', sans-serif;
    --header-font-family: 'Montserrat', sans-serif; /* Fuente para encabezados */
    --header-padding: 20px;
    --border-radius: 10px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100%; /* Para que el body siempre ocupe el 100% del viewport */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: var(--header-padding);
    background-color: var(--accent-color);
    color: white;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    flex: 1; /* Toma todo el espacio disponible */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "data hero weather"
        "data hero weather";
    gap: 20px;
    padding: 20px;
    align-items: start;
}

#data, #weather {
    background-color: white;
    color: var(--secondary-text-color);
    padding: 30px; /* Aumentado padding */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hero {
    grid-area: hero;
    display: flex;
    justify-content: center;
}

#hero img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Mantener proporción de imagen */
}

footer {
    background: linear-gradient(135deg, var(--primary-bg-color), #0d47a1); /* Gradiente */
    color: var(--primary-text-color);
    text-align: center;
    padding: var(--header-padding);
    border-top: 10px solid var(--accent-color); /* Borde más grueso */
    margin-top: auto; /* Se asegura de que el footer esté al final */
}

footer p {
    margin: 5px 0;
}

/* Efectos de transición para elementos */
button, a, img, #data, #weather {
    transition: all 0.5s ease; /* Transición más lenta */
}

button:hover, a:hover, img:hover, #data:hover, #weather:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08); /* Sombra menos intensa */
}

/* Media Queries para ajustar en pantallas más pequeñas */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hero"
            "data"
            "weather";
    }

    #hero {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem; /* Reducir tamaño del título en móviles */
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}
