@media (max-width: 768px) {
    
    .temple-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
    }

    nav ul.show {
        display: block;
    }

    #menuIcon {
        display: block;
        color: var(--menu-icon-color);
        font-size: var(--menu-font-size);
        cursor: pointer;
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    nav ul li a {
        color: var(--primary-text-color);
        text-decoration: none;
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (min-width: 769px) {
    nav ul {
        display: flex;
    }

    #menuIcon {
        display: none;
    }
}
